@if(!isDataLoading()) {
<div class="filters">
  <p-multiselect
    [options]="animals()"
    [ngModel]="selectedAnimals()"
    (onChange)="selectedAnimals.set($event.value)"
    [placeholder]="'Select Familiars' | translate"
    optionLabel="translatedName"
    dataKey="id"
    class="w-full md:w-80"
  >
    <ng-template let-animal #item>
      <div class="icon-container">
        <ng-container *ngComponentOutlet="iconService.getIconComponent(animal.name)"></ng-container>
      </div>
      <div class="label">
        {{ animal.translatedName }}
      </div>
    </ng-template>
  </p-multiselect>
  <div
    class="totem-switcher"
    (click)="isTotemShown = !isTotemShown"
    (keydown.enter)="isTotemShown = !isTotemShown"
    (keydown.space)="isTotemShown = !isTotemShown"
    tabindex="0"
    role="button"
  >
    <div class="label">{{ 'The Familiar' | translate }}</div>
    <p-toggleswitch [ngModel]="isTotemShown">
      <ng-template #handle let-checked="checked">
        <i [ngClass]="['!text-xs', 'pi', isTotemShown ? 'pi-check' : 'pi-times']"></i>
      </ng-template>
    </p-toggleswitch>
  </div>
</div>
<div class="embodiments-container" [ngClass]="{ 'hide-slider': !isTotemShown }">
  <div class="genders" *ngFor="let animal of filteredAnimals()">
    <app-animal [animal]="animal" [isTotemShown]="isTotemShown" />
  </div>
</div>
}
