@use 'variables' as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $gallery-gap;
  padding: 20px;
}

.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
  width: 100%;
  height: auto;
  padding: 20px;

  .p-multiselect {
    width: 100%;
    max-width: 300px;

    svg {
      width: 10px !important;
      height: 10px !important;
    }
  }

  .totem-switcher {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .label {
      font-size: 22px;
      margin-bottom: 4px;
      text-align: center;
      @extend %text-gradient;
    }

    p-toggleswitch {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.embodiments-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: $gallery-gap;
  width: auto;

  .genders {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: $gallery-gap;
  }
}

.hide-slider ::ng-deep .p-imagecompare-slider {
  display: none !important;
}

@media screen and (max-width: 1680px) {
  .embodiments-container {
    max-width: 1000px;
  }
}

@media screen and (max-width: 845px) {
  .embodiments-container {
    max-width: 500px;
  }
}

@media screen and (max-width: 502px) {
  .embodiments-container {
    padding: 10px;
  }

  .filters {
    padding: 10px 0;
  }
}
