@if(isDataLoading()) {
<app-loader />
} @else {
<div class="filters">
  <div class="totem-switcher">
    <div class="label">Totem</div>
    <p-toggleswitch [(ngModel)]="isTotemShown">
      <ng-template #handle let-checked="checked">
        <i [ngClass]="['!text-xs', 'pi', isTotemShown ? 'pi-check' : 'pi-times']"></i>
      </ng-template>
    </p-toggleswitch>
  </div>
</div>
<div class="embodiments-container" [ngClass]="{ 'hide-slider': !isTotemShown }">
  <div class="genders" *ngFor="let animal of animals()">
    <app-card [creature]="animal.male" />
    <app-card [creature]="animal.female" />
    <app-icon-container *ngIf="isTotemShown" color="#FF1493" iconName="fox" />
  </div>
</div>
}
