@use 'variables' as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $gallery-gap;
  padding: 64px 20px;
}

.eucael-version {
  font-family: 'Uncial Antiqua', cursive;
  font-size: 18px;
  color: $primary-color;
  top: 120px;
  left: 20px;
  position: absolute;
}

.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 14px;
  width: 100%;
  height: auto;
  padding: 20px;

  .p-multiselect {
    width: 100%;
    max-width: 300px;

    .icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;

      ::ng-deep svg {
        width: 100% !important;
        height: 100% !important;
        fill: white;
      }
    }

    .label {
      font-size: 24px;
    }
  }

  .totem-switcher {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    flex-shrink: 0;

    .label {
      font-size: 22px;
      margin-bottom: 0;
      text-align: center;
      white-space: nowrap;
      color: $primary-color;
      font-weight: 900;
    }

    p-toggleswitch {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.embodiments-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: $gallery-gap;
  width: auto;

  .genders {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: $gallery-gap;
  }
}

.hide-slider ::ng-deep .p-imagecompare-slider {
  display: none !important;
}

@media screen and (max-width: 1680px) {
  .embodiments-container {
    max-width: 1000px;
  }
}

@media screen and (max-width: 845px) {
  .embodiments-container {
    max-width: 500px;
  }
}

@media screen and (max-width: 768px) {
  .filters {
    flex-direction: column;
    gap: 20px;

    .totem-switcher {
      justify-content: center;
      width: 100%;
    }
  }
}

@media screen and (max-width: 502px) {
  .embodiments-container {
    padding: 10px;
  }

  .filters {
    padding: 10px 0;
  }
}
