@use 'variables' as *;

.embodiments-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: $gallery-gap;
  padding: 20px;
  width: auto;

  .genders {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: $gallery-gap;
  }
}
