@use 'variables' as *;

:host ::ng-deep .p-menu {
  min-width: 175px !important;
  width: auto !important;
  margin-top: 12px !important;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  height: 64px;

  .logo-description-container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .logo-description {
    display: flex;
    align-items: center;
    height: 24px;
    font-weight: 700;
    gap: 12px;

    button {
      background: transparent;
      border: none;
      border-color: rgba(52, 211, 153, 0.4);
      cursor: pointer;
      display: flex;
      align-items: center;
      transition: all 0.3s ease;

      &:hover {
        border: 1px solid rgba(52, 211, 153, 0.15);
        border-color: rgba(52, 211, 153, 0.4);
        border-radius: 8px;
        box-shadow: 0 0 15px rgba(52, 211, 153, 0.3);
        background: rgba(52, 211, 153, 0.05);
      }
    }

    .divider {
      height: 100%;
      width: 1px;
      background: linear-gradient(180deg, transparent, rgba(52, 211, 153, 0.5), transparent);
      box-shadow: 0 0 8px rgba(52, 211, 153, 0.2);
    }
  }

  .container {
    display: flex;
    align-items: center;
    width: auto;
    height: 40px;
    padding: 0 16px;
    justify-content: flex-end;
    line-height: 150%;
    user-select: none;
    border: 1px solid rgba(52, 211, 153, 0.15);
    border-color: rgba(52, 211, 153, 0.4);
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(52, 211, 153, 0.3);
    background: rgba(52, 211, 153, 0.05);
  }
}
