<header class="header">
  <div class="logo-description-container">
    <div class="logo-description">
      <button (click)="onLogoClick()">
        <app-logo />
      </button>
    </div>
  </div>
  <div class="container">
    <ng-container *ngIf="displayName() || isDataLoading()">
      <app-user-avatar />
      <app-menu />
    </ng-container>
    <p-menu #langMenu [model]="langItems" [popup]="true"></p-menu>
    <div class="menu" (click)="langMenu.toggle($event)">
      <div class="label lang-label">{{ selectedLanguage() }}</div>
      <app-chevron-down-icon />
    </div>
  </div>
</header>
