<form [formGroup]="form">
  <app-form-control
    type="select"
    label="Required basic service*"
    [control]="formControls['serviceProductId']"
    [options]="serviceProducts()"
    optionValue="_id"
  />
  <app-form-control
    *ngIf="!formControls['serviceProviderId'].disabled"
    type="select"
    label="Responsible service partner"
    [control]="formControls['serviceProviderId']"
    [options]="serviceProviders"
    optionValue="id"
  />
  <app-form-control
    type="textarea"
    label="Claim description*"
    [control]="formControls['claimDescription']"
  />
  <app-form-control
    type="select"
    label="Property description*"
    [control]="formControls['propertyTypeId']"
    [options]="propertyTypes()"
  />
  <app-form-control
    type="textarea"
    label="Notes for ipex*"
    [control]="formControls['instructions']"
  />
</form>
