@use 'variables' as *;

:host {
  width: 100%;
  max-width: 686px;
}

.form-control {
  @extend %form-control-base;
}

:host ::ng-deep p-autocomplete,
:host ::ng-deep p-autocomplete .p-autocomplete,
:host ::ng-deep p-autocomplete input,
:host ::ng-deep p-autocomplete .p-inputtext {
  width: 100% !important;
  max-width: 686px !important;
}
