@use 'variables' as *;

:host ::ng-deep .google-signin-btn .p-button-outlined {
  width: 100% !important;
  border: 1px solid $primary-color !important;
}

:host {
  width: 100%;
}

.google-signin-btn,
.p-button-outlined {
  width: 100% !important;
}
.google-icon-wrapper {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}
