@use 'variables' as *;

:host ::ng-deep .google-signin-btn .p-button-outlined {
  width: 100% !important;
}

:host ::ng-deep .p-button {
  padding: 12px !important;
}

:host ::ng-deep .p-button-label {
  font-weight: 900 !important;
}

:host {
  width: 100%;
}

.google-signin-btn,
.p-button-outlined {
  width: 100% !important;
}
.google-icon-wrapper {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}
