<p-menu
  #langMenu
  [model]="languageItems"
  [popup]="true"
  styleClass="language-menu"
  appMenuPositioning="language-menu"
></p-menu>
<div
  class="menu"
  tabindex="0"
  role="button"
  (click)="langMenu.toggle($event)"
  (keydown.enter)="langMenu.toggle($event)"
  (keydown.space)="langMenu.toggle($event)"
>
  <span *ngIf="selectedLanguageObj?.code === 'uk'" class="lang-icon">
    {{ selectedLanguageObj?.flag }}
  </span>
  <span class="label">{{ selectedLanguageObj?.code?.toUpperCase() }}</span>
  <app-chevron-down-icon />
</div>
