<div class="login-container">
  <div class="form-container">
    <form [formGroup]="form" class="form-content">
      @if(otpRequested()) {
      <app-form-control label="One-Time Password" [control]="formControls['otp']" />
      } @else {
      <app-form-control label="Email" [control]="formControls['email']" />
      <app-form-control type="password" label="Password" [control]="formControls['password']" />
      }
      <div class="buttons-container">
        @if(otpRequested()) {
        <p-button
          label="Login"
          icon="pi pi-arrow-left"
          (onClick)="otpRequested.set(false)"
          [disabled]="loadingLogin"
        />
        } @else {
        <p-button
          label="Login"
          icon="pi pi-user"
          type="submit"
          (onClick)="login()"
          [disabled]="form.invalid || loadingLogin || loadingRegistration"
          [loading]="loadingLogin"
        />
        }
        <p-button
          label="Sign Up"
          icon="pi pi-user-plus"
          (onClick)="register()"
          [disabled]="form.invalid || loadingLogin || loadingRegistration"
          [loading]="loadingRegistration"
        />
      </div>
    </form>
    @if(!otpRequested()) {
    <div class="google-button-container">
      <app-google-button />
    </div>
    }
  </div>
</div>
