@use 'variables' as *;

.login-container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  align-items: flex-start;
  min-height: 50vh;

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 400px;

    .form-content {
      display: flex;
      flex-direction: column;
      gap: 22px;
      width: 100%;

      .buttons-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }

      .password-container {
        position: relative;
      }
    }

    .google-button-container {
      width: 100%;
      margin-top: 58px;
    }
  }
}

:host ::ng-deep .forgot-password-button .p-button {
  padding-block: 2px !important;
  padding-inline: 8px !important;
}
