<div class="logo-container">
  <div class="logo">
    <app-logo />
  </div>
</div>

<div class="auth-container">
  <app-login-image />

  <!-- Form Section -->
  <div class="form-section">
    <div class="form-container">
      <div class="form-header">
        <h2>
          {{
            (otpRequested()
              ? 'Verify Code'
              : passwordConfirmationRequested()
              ? 'Complete Registration'
              : 'Sign In'
            ) | translate
          }}
        </h2>
        <p class="form-subtitle">
          {{
            (otpRequested()
              ? 'Enter the code sent to your email'
              : passwordConfirmationRequested()
              ? 'Create your account'
              : 'Access your account'
            ) | translate
          }}
        </p>
      </div>

      <form [formGroup]="form" class="form-content">
        @if (otpRequested()) {
        <app-form-control label="One-Time Password" [control]="formControls['otp']" />
        } @else {
        <app-form-control label="Email" [control]="formControls['email']" />
        <div class="password-container">
          <app-form-control type="password" label="Password" [control]="formControls['password']" />
          <app-forgot-password-button
            [email]="formControls['email'].value"
            [isValidEmail]="formControls['email'].valid"
          />
        </div>
        } @if (passwordConfirmationRequested()) {
        <app-form-control
          type="password"
          label="Confirm Password"
          [control]="formControls['confirmPassword']"
        />
        }
        <div class="buttons-container">
          @if (otpRequested() || passwordConfirmationRequested()) {
          <p-button
            [label]="'Back' | translate"
            icon="pi pi-arrow-left"
            [disabled]="loadingLogin() || loadingRegistration()"
            (onClick)="backToLogin()"
            severity="secondary"
          />
          } @if (otpRequested()) {
          <p-button
            [label]="'Sign Up' | translate"
            icon="pi pi-user-plus"
            (onClick)="register()"
            [disabled]="form.invalid || loadingRegistration()"
            [loading]="loadingRegistration()"
          />
          } @if (!otpRequested() && !passwordConfirmationRequested()) {
          <p-button
            [label]="'Login' | translate"
            icon="pi pi-user"
            type="submit"
            (onClick)="login()"
            [disabled]="form.invalid || loadingLogin() || loadingRegistration()"
            [loading]="loadingLogin()"
          />
          <p-button
            [label]="'Sign Up' | translate"
            icon="pi pi-user-plus"
            (onClick)="requestPasswordConfirmation()"
            [disabled]="form.invalid || loadingLogin() || loadingRegistration()"
            [loading]="loadingRegistration()"
            severity="secondary"
          />
          } @if (passwordConfirmationRequested()) {
          <p-button
            [label]="'Continue' | translate"
            icon="pi pi-arrow-right"
            (onClick)="requestOTP()"
            [disabled]="form.invalid || loadingRegistration()"
            [loading]="loadingRegistration()"
          />
          }
        </div>
      </form>
      @if (!otpRequested() && !passwordConfirmationRequested()) {
      <div class="divider">
        <span></span>
      </div>
      <div class="google-button-container">
        <app-google-button />
      </div>
      }
    </div>
  </div>
</div>
