<div class="auth-container">
  <div class="form-container">
    <form [formGroup]="form" class="form-content">
      <app-form-control type="password" label="Password" [control]="formControls['newPassword']" />
      <app-form-control
        type="password"
        label="Confirm Password"
        [control]="formControls['confirmNewPassword']"
      />
      <div class="buttons-container">
        <p-button
          label="Reset Password"
          icon="pi pi-refresh"
          [disabled]="form.invalid || loadingResetPassword"
          [loading]="loadingResetPassword"
          (onClick)="resetPassword()"
        />
      </div>
    </form>
  </div>
</div>
