<div
  class="card-wrapper"
  tabindex="0"
  role="button"
  (click)="onCardClick()"
  (keydown.enter)="onCardClick()"
  (keydown.space)="onCardClick()"
>
  <div class="card-border">
    <div class="card-content">
      <div class="image-container">
        <app-icon-container *ngIf="!imageUrl()" [color]="color()" [iconName]="animalName()" />
        <app-image *ngIf="imageUrl()" #imageComponent [imageUrl]="imageUrl()" />
      </div>
      <app-card-name [name]="name()" />
    </div>
  </div>
</div>
