<div class="search-container">
  <p-iconfield iconPosition="left" class="search-field">
    <p-inputicon styleClass="pi pi-search" />
    <input
      type="text"
      pInputText
      [formControl]="searchControl"
      [placeholder]="'Search users...' | translate"
      class="search-input"
      (focus)="onSearchFocus()"
      (blur)="onSearchBlur()"
    />
    @if(searchControl.value) {
    <button class="clear-search-btn" (click)="clearSearch()" type="button">
      <i class="pi pi-times"></i>
    </button>
    }
  </p-iconfield>

  <!-- Search Results Dropdown -->
  @if(showSearchResults()) {
  <div class="search-results">
    @if(isSearching()) {
    <div class="search-loading">
      <i class="pi pi-spinner pi-spin"></i>
      <span>{{ 'Searching...' | translate }}</span>
    </div>
    } @else if(searchResults().length > 0) {
    <div class="search-results-list">
      @for(user of searchResults(); track user.id) {
      <div
        class="search-result-item"
        pRipple
        tabindex="0"
        role="button"
        (click)="selectUser(user.id)"
        (keydown.enter)="selectUser(user.id)"
        (keydown.space)="selectUser(user.id)"
      >
        <div class="search-result-avatar">
          <i class="pi pi-user"></i>
        </div>
        <div class="search-result-info">
          <div class="search-result-name">{{ user.name }}</div>
        </div>
        <i class="pi pi-arrow-right search-result-arrow"></i>
      </div>
      }
    </div>
    } @else {
    <div class="search-no-results">
      <i class="pi pi-search"></i>
      <span>{{ 'No users found' | translate }}</span>
    </div>
    }
  </div>
  }
</div>
