<div class="image-compare-container">
  <p-imagecompare class="shadow-lg rounded-2xl">
    <ng-template #left>
      <img [src]="leftUrl()" alt="Left Image" />
    </ng-template>
    <ng-template #right>
      <img [src]="rightUrl()" alt="Right Image" />
    </ng-template>
  </p-imagecompare>

  <!-- View Icon Button -->
  <button
    type="button"
    class="view-button-simple"
    (click)="onViewFullImage()"
    title="View full image"
  >
    <i class="pi pi-eye" style="color: #34d399; font-size: 1.25rem"></i>
  </button>

  <!-- Hidden Image for Preview with PrimeNG Image -->
  <div class="preview-image" style="display: none">
    <p-image
      [src]="rightUrl()"
      alt="Full Size Image"
      [preview]="true"
      width="100"
      height="100"
      imageClass="preview-trigger-image"
    ></p-image>
  </div>
</div>
