<p-stepper [(value)]="currentStep">
  <ng-container *ngFor="let step of steps(); let i = index; trackBy: trackByIndex">
    <p-step-item [value]="i + 1">
      <p-step [ngClass]="{ 'checked-step': step.form.valid }">
        {{ step.label }}
      </p-step>
      <p-step-panel>
        <ng-template #content let-activateCallback="activateCallback">
          <app-step-content>
            <ng-container *ngComponentOutlet="step.contentComponent"></ng-container>
          </app-step-content>
          <app-stepper-buttons
            [showBack]="i > 0"
            [showNext]="i < steps().length - 1"
            (back)="activateCallback(i)"
            (next)="onNext(i, step, activateCallback)"
          ></app-stepper-buttons>
        </ng-template>
      </p-step-panel>
    </p-step-item>
  </ng-container>
</p-stepper>
