<button
  *ngIf="message.sender.id === currentUserId && message.id"
  type="button"
  class="delete-icon-btn"
  (click)="onDelete($event)"
  [title]="'chat.deleteMessage' | translate"
  [attr.aria-label]="'chat.deleteMessage' | translate"
  pButton
  pRipple
>
  <i class="pi pi-trash" aria-hidden="true"></i>
</button>
<p-progress-spinner
  *ngIf="!message.id"
  strokeWidth="2"
  class="delete-icon-btn"
  fill="transparent"
  animationDuration=".5s"
  [style]="{ width: '24px', height: '24px', color: '#34f5f5' }"
/>
