<div class="chat-container">
  <div *ngIf="!interlocutorProfile() || isLoading()" class="loader-container">
    <app-loader />
  </div>
  @if(interlocutorProfile() && !isLoading()) {
  <div class="chat-header">
    <app-chat-avatar [profile]="interlocutorProfile()" />
    <div class="header-info">
      {{ interlocutorName() }}
    </div>
  </div>

  <div class="messages" #messagesContainer (scroll)="onScroll()">
    <div *ngFor="let message of messages; trackBy: trackByMessageId" class="message">
      <div
        [class.sender]="message.sender.id === currentUserId()"
        [class.receiver]="message.sender.id !== currentUserId()"
      >
        <div class="message-content">
          {{ message.content }}
        </div>
        <div class="message-meta">
          <small>
            {{ formatMessageTime(message.timestamp) }}
          </small>
        </div>
        <app-chat-avatar [profile]="interlocutorProfile()" />
      </div>
    </div>
  </div>

  <div class="message-input">
    <textarea
      #messageInput
      [(ngModel)]="newMessageContent"
      (keydown)="onKeyPress($event)"
      placeholder="Type your message..."
      rows="1"
      maxlength="1000"
    ></textarea>
    <p-button
      [label]="'Send'"
      severity="secondary"
      (onClick)="sendMessage()"
      [disabled]="!newMessageContent.trim()"
      icon="pi pi-send"
    />
  </div>
  <button
    *ngIf="showScrollToBottom()"
    class="scroll-to-bottom-btn"
    (click)="scrollToBottomManual()"
    title="Scroll to bottom"
  >
    <i class="pi pi-chevron-down"></i>
  </button>
  }
</div>
