@use 'variables' as *;

.chat-container {
  width: 400px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 600px;
  overflow: hidden;
  margin-top: 80px;

  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .chat-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    background: rgba(24, 24, 27, 0.42);
    margin: 0;
    border-bottom: 1px solid #eee;
  }
}

.messages {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  background: rgba(24, 24, 27, 0.42);

  @extend %small-scrollbar;
}

.message {
  margin-bottom: 8px;
  display: flex;
  color: black;
}

.message div {
  max-width: 70%;
  padding: 8px 12px;
  border-radius: 15px;
  word-wrap: break-word;
}

.sender {
  background-color: #dcf8c6;
  align-self: flex-end;
  margin-left: auto;
}

.receiver {
  background-color: #e6e6e6;
  align-self: flex-start;
  margin-right: auto;
}

.message strong {
  font-weight: bold;
}

.message small {
  display: block;
  font-size: 0.7em;
  color: #888;
  margin-top: 2px;
}

.message-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #eee;
}

.message-input input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.message-input button {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.message-input button:hover {
  background-color: #0056b3;
}
