@use 'variables' as *;

:host {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 58px 20px;
}

.eucael-version {
  font-family: 'Uncial Antiqua', cursive;
  font-size: 18px;
  color: $primary-color;
  top: 120px;
  left: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
