<p-avatar
  *ngIf="avatarUrl(); else avatarPlaceholder"
  [image]="avatarUrl()"
  [size]="'large'"
  shape="circle"
  class="avatar-image"
  [style.width.px]="isSmall() ? 30 : 48"
  [style.height.px]="isSmall() ? 30 : 48"
></p-avatar>
<ng-template #avatarPlaceholder>
  <p-avatar
    [label]="getInitials()"
    [size]="'large'"
    shape="circle"
    class="avatar-placeholder"
    [style]="{ 'background-color': getAvatarColor() }"
    [style.width.px]="isSmall() ? 30 : 48"
    [style.height.px]="isSmall() ? 30 : 48"
  ></p-avatar>
</ng-template>
