:host ::ng-deep .p-toast {
  width: 340px !important;
  max-width: 340px !important;
  padding: 0.2rem;
}

:host ::ng-deep .p-toast .p-toast-message-success {
  background: rgba(240, 253, 244, 0.95);
  backdrop-filter: blur(calc(1.5px / 2));
  color: #16a34a;
}

:host ::ng-deep .p-toast .p-toast-message-error {
  background: rgba(254, 242, 242, 0.95);
  backdrop-filter: blur(calc(1.5px / 2));
  color: #dc2626;
}

:host ::ng-deep .p-toast .p-toast-message-info {
  background: rgba(240, 244, 255, 0.95);
  backdrop-filter: blur(calc(1.5px / 2));
  color: #051181;
}

:host ::ng-deep .p-toast-detail {
  color: #334155 !important;
}
