:host ::ng-deep .p-toast {
  width: 340px !important;
  max-width: 340px !important;
  padding: 0.2rem;
}

:host ::ng-deep .p-toast .p-toast-message-success {
  color: #03572d;
}

:host ::ng-deep .p-toast .p-toast-message-error {
  color: #bd0606;
}

:host ::ng-deep .p-toast .p-toast-message-info {
  color: #051181;
}

:host ::ng-deep .p-toast-detail {
  color: black;
}
